<ion-header>
	<ion-toolbar>
		<ion-title>Cadastro de Empresa</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div *ngIf="empresa">
		<ion-item>
			<ion-label position="floating">Identificação:</ion-label>
			<ion-input type="text" [(ngModel)]="empresa.id"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nome:</ion-label>
      <ion-input type="text" [(ngModel)]="empresa.nome" ></ion-input>
    </ion-item>
		<ion-item>
			<ion-label >Estado:</ion-label>
			<ion-select [(ngModel)]="empresa.Estado" placeholder="Selecione o estado">
				<ion-select-option value="SC">SC</ion-select-option>
				<ion-select-option value="MT">MT</ion-select-option>
				<ion-select-option value="SP">SP</ion-select-option>
				<ion-select-option value="PR">PR</ion-select-option>
			</ion-select>
		</ion-item>
		<ion-item>
      <ion-label position="floating">Endereço:</ion-label>
      <ion-input type="text" [(ngModel)]="empresa.Endereco" ></ion-input>
    </ion-item>
		<div class="ion-text-center">
			<ion-button (click)="gravarEmpresa()" shape="round" fill="outline">Gravar</ion-button>
			<ion-button routerLink="/home" shape="round" fill="outline">Cancelar</ion-button>
		</div>
	</div>
</ion-content>
