<ion-header>
	<ion-toolbar>
		<ion-title>Hardware</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-item>
		<ion-label position="floating">Identificação:</ion-label>
		<ion-input type="text"></ion-input>
	</ion-item>
	<ion-item>
		<ion-label >Equipamento</ion-label>
		<ion-select placeholder="Equipamento">
			<ion-select-option value="1">Computador</ion-select-option>
			<ion-select-option value="2">Roteador</ion-select-option>
			<ion-select-option value="3">Impressora</ion-select-option>
			<ion-select-option value="4">Switch</ion-select-option>
			<ion-select-option value="5">Servidor</ion-select-option>
			<ion-select-option value="6">Scanner</ion-select-option>
			<ion-select-option value="7">Outros</ion-select-option>
		</ion-select>
	</ion-item>
	<div class="ion-text-center">
		<ion-button (click)="gravarHardware()" shape="round" fill="outline">Gravar</ion-button>
		<ion-button routerLink="/home" shape="round" fill="outline">Cancelar</ion-button>
		<ion-button routerLink="/home" shape="round" fill="outline">Lista</ion-button>
	</div>
</ion-content>
