<ion-header>
	<ion-toolbar>
		<ion-title>Cadastro de Hardware</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div *ngIf="hardware">
		<ion-item>
			<ion-label position="floating">Identificação:</ion-label>
			<ion-input type="text" [(ngModel)]="hardware.ident"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label >Equipamento</ion-label>
			<ion-select [(ngModel)]="hardware.equip" placeholder="Equipamento">
				<ion-select-option value="computador">Computador</ion-select-option>
				<ion-select-option value="roteador">Roteador</ion-select-option>
				<ion-select-option value="impressora">Impressora</ion-select-option>
				<ion-select-option value="switch">Switch</ion-select-option>
				<ion-select-option value="servidor">Servidor</ion-select-option>
				<ion-select-option value="scanner">Scanner</ion-select-option>
				<ion-select-option value="outros">Outros</ion-select-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label >Setor</ion-label>
			<ion-select [(ngModel)]="hardware.setor" placeholder="Setor">
				<ion-select-option value="Administração">Administração</ion-select-option>
				<ion-select-option value="Contabilidade">Contabilidade</ion-select-option>
				<ion-select-option value="Almoxerifado">Almoxerifado</ion-select-option>
				<ion-select-option value="TI">TI</ion-select-option>
				<ion-select-option value="RH">RH</ion-select-option>
			</ion-select>
		</ion-item>
		<div class="ion-text-center">
			<ion-button (click)="gravarHardware()" shape="round" fill="outline">Gravar</ion-button>
			<ion-button routerLink="/home" shape="round" fill="outline">Cancelar</ion-button>
		</div>
	</div>
</ion-content>
